{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border p-3 bg-white">
                <h1>{% trans "Change Password" %}</h1>
                <p>{% trans 'Your password is now changed.' %}</p>
            </div>
            <a class="btn btn-success btn-lg col-8 mx-4" href="{% url 'account_login' %}">Login</a>
        </div>
    </div>
</div>
{% endblock %}