{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border p-3 bg-white">
                <h1>{% trans "Set Password" %}</h1>

                <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-success my-4 col-12" type="submit" name="action" value="{% trans 'Set Password' %}" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}