{% extends "base.html" %}

{% block title %}My Courses{% endblock title %}

{% block content %}
<div class="container my-5">
	<div class="row">
		<h1 class="text-center">My courses</h1>
		<div class="col-md-12">
			<table class="table bg-white">
				<thead class="bg-success">
					<tr class="text-white">
						<th>Course Name</th>
						<th>Subjects</th>
						<th>#</th>
						<th>#</th>
					</tr>
				</thead>
				<tbody>
					{% for course in object_list %}
					<tr>
						<td>{{course.title}}</td>
						<td>{{course.subject}}</td>
						<td>
							<a class="btn btn-success btn-sm" href="{% url 'course_edit' course.id %}">Edit</a>
						</td>
						<td>
							<a class="btn btn-success btn-sm" href="{% url 'course_delete' course.id %}">Delete</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock content %}