{% extends "base.html" %}

{% block title %}Home Page{% endblock title %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="container">
	<div class="row mt-5 py-4">
		<div class="col-md-6 offset-md-3">
				<div class="alert alert-danger text-center px-5">
					<h3>Welcome to our home page</h3>
				</div>

				<div class=" p-4 col-12 my-5 fs-3 text-center">Logged in as <b>{{request.user.username|upper}}</b></div>
			</div>
	</div>
</div>
{% else %}
<div class="container">
	<div class="row my-5 py-4">
		<div class="col-md-6 offset-md-3">
				<div class="alert alert-danger text-center">
					<h3>Homepage - You are not logged in yet</h3>
				</div>

				<a class="btn btn-lg btn-success py-2 col-12 my-2 fs-3" href="{% url 'account_login' %}">Login</a>
			</div>
		</div>
</div>
{% endif %}
{% endblock content %}